.title_ {
  margin-top: 50px;
  margin-bottom: 50px;
}

.button_position {
  margin-bottom: 30px;
}

.alert {
  color: green;
  display: none;
}

@media (max-width: 576px) {
  .title_ {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .button_position {
    margin-bottom: 20px;
  }
}